{% comment %}
Dynamically generate list of links to all category pages
{% endcomment %}

<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Categories</a>
	<ul class="dropdown-menu">
		{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
		{% for node in pages_list %}
		{% if node.title != null %}
		{% if node.layout == "category" %}
		<li><a class="dropdown-item {% if page.url == node.url %} active{% endif %}" href="{{ node.url | relative_url }}">{{ node.title }}</a></li>
		{% endif %}
		{% endif %}
		{% endfor %}
	</ul>
</li>