<!-- <header>
  <h1>
    <a href="{{ "/" | relative_url }}">
      {% unless page.url == "/" %}
      <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
      {% endunless %}
      {{ site.title }}
    </a>
  </h1>
  <p>{{ site.description }}</p>
</header> -->

<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    {% if site.sidebar_home_link %}
      <img src="/favicon.png" width="30" height="30" alt="" loading="lazy"> <a class="nav-link navbar-brand {% if page.url == '/' %} active{% endif %}" href="{{ "/" | relative_url }}">felixfoertsch.de</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-toggle" aria-controls="navigation-toggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navigation-toggle">
      <div class="navbar-nav">
        {% include nav/tags.html %}

        {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `sidebar_link: true` in the front-matter. See readme for usage.
        {% endcomment %}

        {% include nav/pages.html %}
        {% include nav/categories.html %}

        {% if tags_page %}
        <a class="nav-link{% if page.url == '/tags' %} active{% endif %}" title="Tags" aria-label="Tags" href="{{ tags_page.url | relative_url }}">
          {% include svg/tags.svg %} Tags
        </a>
        {% endif %}
        <a class="nav-link" title="Subscribe" aria-label="Subscribe" href="{{ site.feed.path | default: 'feed.xml' | relative_url }}">{% include svg/rss.svg %} RSS</a>

        {% if site.author.flair %}
        <span>{{ site.author.flair }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</nav>