{% comment %}
  Check if we have a tags page active before linking to it.
{% endcomment %}
{% assign tags_page = false %}
{% for node in site.pages %}
  {% if node.layout == "tags" %}
    {% assign tags_page = node %}
  {% endif %}
{% endfor %}

{% for tag in include.post.tags %}
{% if tags_page %}<a href="{{ tags_page.url | relative_url }}#{{ tag | slugify }}">{% endif %}<span class="badge rounded-pill bg-primary">{% include svg/tag.svg %} {{ tag }}</span>{% if tags_page %}</a>{% endif %}
{% endfor %}

