<section class="related">
  <h2>Related Posts</h2>
  <ul class="posts-list">
    {% for post in site.related_posts limit:3 %}
    <li>
      <h3>
        <a href="{{ site.baseurl }}{{ post.url }}">
          {{ post.title }}
          {% if post.last_modified_at %}
          <small>{{ post.last_modified_at | date: "%Y-%m-%d" }}</small>
          {% else %}
          <small>{{ post.date | date: "%Y-%m-%d" }}</small>
          {% endif %}
        </a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</section>
